*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0%;
}
.Header{
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;

}
#name{
    margin-left: 20px;
    align-self: center;
}
.theme1{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0,0,0,0.9);
    align-self: center;
    position: absolute;
    right: 40px;
    border-radius: 60px;
}
.theme2{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0,0,0,0.9);
    align-self: center;
    position: absolute;
    right: 40px;
    border-radius: 60px;
    display: none;
}
.sun{
    
    position: relative;
    color: rgb(95, 149, 251);
    font-size: 30px;
    top: 4px;
}

.moon{
    position: relative;
    color: rgb(95, 149, 251);
    font-size: 30px;
    top: 4px;
}


.Main{
    min-height: 7000px;
    background-color: rgb(160, 180, 206);
    padding-bottom: 10px;
}
#one{
    position: sticky;
    top: 0;
}

.Footer{
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(160, 206, 160);
}








@keyframes shrinkFade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}


.hide {
  animation: shrinkFade 0.3s ease forwards;
}
